Repository libigl/libigl, pull requests merged in 2020-04, with the labels that each got.

#1001 Add extra exceptions for arithmetic and types operations
  tests/main.cpp
Labels: unit-tests

#1480 Toggle double sided lighting
  include/igl/opengl/MeshGL.cpp
  include/igl/opengl/ViewerCore.cpp
  include/igl/opengl/ViewerData.cpp
  include/igl/opengl/ViewerData.h
  include/igl/opengl/glfw/Viewer.cpp
Labels: viewer

#1479 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/issue_template.md
  .github/pull_request_template.md
Labels: enhancement

#1477 Comment FPE for now.
  tests/main.cpp
Labels: unit-tests

#1476 Bézier curve evaluation and fit cubic Bézier spline to stream of points
  include/igl/bezier.cpp
  include/igl/bezier.h
  include/igl/cat.h
  include/igl/fit_cubic_bezier.cpp
  include/igl/fit_cubic_bezier.h
  tests/include/igl/bezier.cpp
  tests/include/igl/fit_cubic_bezier.cpp
Labels: new-feature

#1487 Connected components
  include/igl/connected_components.cpp
  include/igl/connected_components.h
  include/igl/cumsum.cpp
  include/igl/cumsum.h
  include/igl/facet_adjacency_matrix.cpp
  include/igl/facet_adjacency_matrix.h
  include/igl/facet_components.cpp
  include/igl/matlab/prepare_lhs.cpp
  include/igl/matlab/prepare_lhs.h
  include/igl/slice.h
  include/igl/unique_edge_map.cpp
  include/igl/unique_edge_map.h
  tests/include/igl/facet_components.cpp
Labels: new-feature
